<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
        <p>  
          <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Data</a>
        </p>
    </div>
    <div class="container">
      <h3> Latest Mars News</h3>
        <h4>{{space_data.news_title}}</h4>
        <p> {{space_data.news_p}}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3> Featured Mars Image </h3>
          <img src="{{space_data.featured_img_url}}">
        </div>
        <div class="col">
          <h5>Mars Facts</h5>
            <table class="table"> {{space_data.mars_html_table}} </table>
        </div>
      </div>
      <div class="container">
        <h3>Mars Hemispheres</h3>
        
          <div>
            {% for data in space_data.hemisphere_img_urls%}
              <div class="row">
                <div class="col">{{data.img_url}}</div>
                <div class="col">{{data.title}}</div>
              </div>
            {% endfor %}  
      

          </div>
      </div>
    </div>
    
  </div>


</body>

</html>
