<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  </head>
  

<body>
  <div class="container-fluid">
    <!--jumbotron-->
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
        <p>  
          <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Data</a>
        </p>
    </div>

    <!--mars news-->
    <div class="container">
      <h2> Latest Mars News</h2>
        <h3>{{space_data.news_title}}</h3>
        <p> {{space_data.news_p}}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-8">
          <h2> Featured Mars Image </h2>
          <img class="col-12" src="{{space_data.featured_img_url}}">
        </div>
        <div class="col">
          <h5>Mars Facts</h5>
            <div class="table table-striped"> {{space_data.mars_html_table |safe}} </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <h3>Mars Hemispheres</h3>
        <div class="card-deck">
          <div class="row">
            <div class="card">
            {% for data in space_data.hemisphere_img_urls%}
              <div class="col-md-6">
                  <div class="card">
                  <img class="card-img-top" src="{{data.img_url}}" alt="{{data.title}}">
                  <div class="card-body">
                      <h5 class="card-title">{{data.title}}</h5>
                  </div>
                  </div>
              </div>
            {% endfor %}
          </div> 
          </div> 
      </div>
    </div>
  </div>


</body>

</html>

